{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
用户管理
{% endblock %}

{% block css/js %}
<script src="{% static 'js/user/user_list.js' %}"></script>
{% endblock css/js %}

{% block content %}


<div class="layui-fluid">
    <div class="layui-row layui-col-space10">
        <div class="layui-col-md8">
            {#% 内存利用率图表渲染 %#}
            <div class="layui-card">
                <div class="layui-card-header">用户管理</div>
                <div class="layui-card-body">
                    用户管理表格
                </div>
            </div>
        </div>
        <div class="layui-col-md4">
            {#% 内存利用率图表渲染 %#}
            <div class="layui-card">
                <div class="layui-card-header">用户管理</div>
                <div class="layui-card-body">
                    卡片式面板面板通常用于非白色背景色的主体内<br>
                    从而映衬出边框投影
                </div>
            </div>
        </div>
    </div>


</div>


{% endblock %}


{% block js %}

{% endblock js %}